<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAA ASSIGNMENT</title>
    
    <!-- MathJax script -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<head>
  <title>DAA ASSIGNMENT</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/navigation.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='Images/logo.png') }}">
  
  <style>
    body {
      background-color: rgb(0, 0, 0);
      color: white; /* Set text color to white for better visibility */
      line-height: 1.5;
    }
    h1{
      font-size: 34px;
      text-align: center;
    }
    p{
      font-size: 20px;
      justify-content: center;
    }
    ul li {
      margin-right: auto;
      font-size: 15px;
    }
  </style>
</head>

<body>
  <div class="navbar">
    <img src="{{ url_for('static', filename='Images/logo.png') }}" alt="logo" /> 
    <div class="home">
      <ul> 
        <li><a  href="{{url_for('demonstrate')}}">   Demonstrate </a></li>
        <li><a  href="{{url_for('documentation')}}">   Documentation </a></li>
        <li><a  href="{{url_for('index')}}">   Home </a></li>
      </ul>

    </div>
    
    <ul>
      <li><a href="{{url_for('about_us')}}">About Us </a></li>
      <li><a href="{{url_for('comparitive_analysis')}}">Comparitive Analysis </a></li>
      <li><a href="{{url_for('comp_analysis')}}">Complexity Analysis </a></li>
      <!-- <li><a  href="">   Code Visualization</a></li> -->
      
      <li><a  href="{{url_for('algowriteup')}}">  Algorithm </a></li>
      <li><a  href="{{url_for('intro')}}">   Info </a></li>
    </ul>
</div>
 
  <nav>
    <!-- <ul class="nav-ul">
        <li><a href="">CS F364: DESIGN AND ANALYSIS OF ALGORITHMS</a></li>
        <li><a href="intro.html">GROUP NUM  &rarr;</a></li>
    </ul>
    <ul class="nav-ul">
      <li><a href="">ASSIGNMENT 2</a></li>
      <li><a href="intro.html">GROUP NUM  &rarr;</a></li>
  </ul>
   -->
   <h1 id="introduction">Comparative Analysis</h1>

   <p>The comparative analysis of the pairing obtained from the RNA folding algorithm and the actual structures found in nature shows us that both the number of pairs and pairings are different.</p>
   
   <p>The RNA folding algorithm finds the maximum possible number of pairings, but does not look into what each bond means in the grand scheme of things.</p>
   
   <p>In nature, every bond and every pairing can lead to an incredible variety in functionality and structure of any organism as a whole.</p>
   
   <p>Thus the issue with our code is that it can only look for the most optimal pairing in terms of counts of pairs, and not what those pairings would result in, yielding vastly different structures than those in real life.</p>
<br>

  <h2 id="introduction">1. Thermus thermophilus 5S rRNA  </h2>
 
  <div style="display: flex; align-items: center; justify-content: center;">
    <div style="text-align: center; margin-right: 50px;">
      <img class="center-image" src="{{ url_for('static', filename='Images/1.svg') }}" alt="Jarvis March Algorithm" width="400px" height="400px" style="margin-right: 40px; background-color: white;" />
      <p>ORIGINAL</p>
      <p>Number of Pairs: 37</p>
    </div>
    <div style="text-align: center;">
      <img class="center-image" src="{{ url_for('static', filename='Images/opt1.svg') }}" alt="Jarvis March Algorithm"  width="400px" height="400px" style="margin-right: 40px; background-color: white;" />
      <p>OPTIMAL</p>
      <p>Number of Pairs: 44</p>
    </div>
  </div>
  <br>

 <!-- <h3 id="introduction">1. Thermus thermophilus 5S rRNA </h3>
<p>body</p>
<div style="display: flex; align-items: center; justify-content: center;">
  <div style="text-align: center; margin-right: 50px;">
    <img class="center-image" src="{{ url_for('static', filename='Images/1.svg') }}" alt="Jarvis March Algorithm" width="105%" height="105%" style="background-color: white;" />
    <p>Original</p>
  </div>
  <div style="text-align: center;">
    <img class="center-image" src="{{ url_for('static', filename='Images/opt1.svg') }}" alt="Jarvis March Algorithm" width="105%" height="105%" />
    <p>Optimal</p>
  </div>
</div> -->
  <!-- <h3 id="introduction">2. 12S ribosomal RNA, mitochondrial from Sus scrofa (PDB 6GAW, chain AA)</h3>
  <p>body</p>
  <div style="display: flex; align-items: center;">
    <img class="center-image" src="{{ url_for('static', filename='Images/2.svg') }}" alt="Jarvis March Algorithm"  width="105%" height= "105%" style="margin-left: 100px; background-color: white;" />
    <img class="center-image" src="{{ url_for('static', filename='Images/opt2.svg') }}" alt="Jarvis March Algorithm" width= "105%" height="105%" style="margin-left: 300px;" />
  </div>
  <br>
  <br> -->
  

  <h2 id="introduction">2. 12S ribosomal RNA, mitochondrial from Sus scrofa (PDB 6GAW, chain AA) </h2>
 
  <div style="display: flex; align-items: center; justify-content: center;">
    <div style="text-align: center; margin-right: 50px;">
      <img class="center-image" src="{{ url_for('static', filename='Images/2.svg') }}" alt="Jarvis March Algorithm"  width="400px" height="400px" style="margin-right: 40px; background-color: white;" />
      <p>ORIGINAL</p>
      <p>Number of Pairs: 166</p>
    </div>
    <div style="text-align: center;">
      <img class="center-image" src="{{ url_for('static', filename='Images/opt2.svg') }}" alt="Jarvis March Algorithm"  width="400px" height="400px" style="margin-right: 40px; background-color: white;" />
      <p>OPTIMAL</p>
      <p>Number of Pairs: 328</p>
    </div>
  </div>
  <br>

  <!-- <h3 id="introduction">3. 18S Ribosomal RNA from Leishmania donovani (PDB 5T2A, chain 2)</h3>
  <p>body</p>
  <div style="display: flex; align-items: center;">
    <img class="center-image" src="{{ url_for('static', filename='Images/3.svg') }}" alt="Jarvis March Algorithm"  width="105%" height= "105%" style="margin-left: 100px; background-color: white;" />
    <img class="center-image" src="{{ url_for('static', filename='Images/opt3.svg') }}" alt="Jarvis March Algorithm"  width= "105%" height="105%" style="margin-left: 300px;" />
  </div>
  <br>
  <br> -->

  <h2 id="introduction">3. 18S Ribosomal RNA from Leishmania donovani (PDB 5T2A, chain 2) </h2>
 
  <div style="display: flex; align-items: center; justify-content: center;">
    <div style="text-align: center; margin-right: 50px;">
      <img class="center-image" src="{{ url_for('static', filename='Images/3.svg') }}" alt="Jarvis March Algorithm" width="400px" height="400px" style="margin-right: 40px; background-color: white;" />
      <p>ORIGINAL</p>
      <p>Number of Pairs: 500</p>
    </div>
    <div style="text-align: center;">
      <img class="center-image" src="{{ url_for('static', filename='Images/opt3.svg') }}" alt="Jarvis March Algorithm" width="400px" height="400px" style="margin-right: 40px; background-color: white;" />
      <p>OPTIMAL</p>
      <p>Number of Pairs: 792</p>
    </div>
  </div>
  <br>

  <!-- <h3 id="introduction">4. Homo sapiens (human) small Cajal body-specific RNA 13 (SCARNA13)</h3>
  <p>body</p>
  <div style="display: flex; align-items: center;">
    <img class="center-image" src="{{ url_for('static', filename='Images/4.svg') }}" alt="Jarvis March Algorithm"  width="105%" height= "105%" style="margin-left: 100px; background-color: white;" />
    <img class="center-image" src="{{ url_for('static', filename='Images/opt4.svg') }}" alt="Jarvis March Algorithm" width= "105%" height="105%" style="margin-left: 300px;" />
  </div>
  <br>
  <br> -->


  <h2 id="introduction">4. Homo sapiens (human) small Cajal body-specific RNA 13 (SCARNA13) </h2>
  
  <div style="display: flex; align-items: center; justify-content: center;">
    <div style="text-align: center; margin-right: 50px;">
      <img class="center-image" src="{{ url_for('static', filename='Images/4.svg') }}" alt="Jarvis March Algorithm"  width="400px" height="400px" style="margin-right: 40px; background-color:  white;" />
      <p>ORIGINAL</p>
      <p>Number of Pairs: 62</p>
    </div>
    <div style="text-align: center;">
      <img class="center-image" src="{{ url_for('static', filename='Images/opt4.svg') }}" alt="Jarvis March Algorithm"  width="400px" height="400px" style="margin-right: 40px; background-color: white;" />
      <p>OPTIMAL</p>
      <p>Number of Pairs: 100</p>
    </div>
  </div>
  <br>


  <!-- <h3 id="introduction">5. Homo sapiens (human) small nucleolar RNA, H/ACA box 53 (SNORA53)</h3>
  <p>body</p>
  <div style="display: flex; align-items: center;">
    <img class="center-image" src="{{ url_for('static', filename='Images/5.svg') }}" alt="Jarvis March Algorithm"  width="105%" height= "105%" style="margin-left: 100px; background-color: white;" />
    <img class="center-image" src="{{ url_for('static', filename='Images/opt5.png') }}" alt="Jarvis March Algorithm" width= "105%" height="105%" style="margin-left: 300px;"/>
  </div>
  <br>
  <br> -->

  <h2 id="introduction">5. Homo sapiens (human) small nucleolar RNA, H/ACA box 53 (SNORA53)</h2>
 
  <div style="display: flex; align-items: center; justify-content: center;">
    <div style="text-align: center; margin-right: 50px;">
      <img class="center-image" src="{{ url_for('static', filename='Images/5.svg') }}" alt="Jarvis March Algorithm"  width="400px" height="400px" style="margin-right: 40px; background-color: white;" />
      <p>ORIGINAL</p>
      <p>Number of Pairs: 75</p>
    </div>
    <div style="text-align: center;">
      <img class="center-image" src="{{ url_for('static', filename='Images/opt5.svg') }}" alt="Jarvis March Algorithm"  width="400px" height="400px"style="margin-right: 40px; background-color: white;" />
      <p>OPTIMAL</p>
      <p>Number of Pairs: 89</p>
    </div>
  </div>
  <br>
  

  
<div class="footer">
  We, the students of BITS Pilani Hyderabad Campus, have created this webpage, as a part of the Assignment-1 of the course
CS F364 - Design and Analysis of Algorithms (DAA).
</div>
</body>

</html>