<!DOCTYPE html>
<html>

<head>
  <title>DAA ASSIGNMENT</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/navigation.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='Images/logo.png') }}">
  <style>
    body {
      background-color: rgb(0, 0, 0);
      color: white; /* Set text color to white for better visibility */
    }
  </style>
</head>

<body>
  <div class="navbar">
    <img src="{{ url_for('static', filename='Images/logo.png') }}" alt="logo" /> 
    <div class="home">
      <ul> 
        <li><a  href="{{url_for('demonstrate')}}">   Demonstrate </a></li>
        <li><a  href="{{url_for('documentation')}}">   Documentation </a></li>
        <li><a  href="{{url_for('index')}}">   Home </a></li>
      </ul>

    </div>
    
    <ul>
      <li><a href="{{url_for('about_us')}}">About Us </a></li>
      <li><a href="{{url_for('comp_analysis')}}">Complexity Analysis </a></li>
      <!-- <li><a  href="">   Code Visualization</a></li> -->
     
      <li><a  href="{{url_for('algowriteup')}}">  Algorithm </a></li>
      <li><a  href="{{url_for('intro')}}">   Info </a></li>
    </ul>
</div>
 
  <nav>
    <ul class="nav-ul">
        <li><a href="">CS F364: DESIGN AND ANALYSIS OF ALGORITHMS</a></li>
        <!-- <li><a href="intro.html">GROUP NUM  &rarr;</a></li> -->
    </ul>
    <ul class="nav-ul">
      <li><a href="">ASSIGNMENT 2</a></li>
      <!-- <li><a href="intro.html">GROUP NUM  &rarr;</a></li> -->
  </ul>
  </nav>  
  <div style="text-align: center;">
    <img src="{{url_for('static',filename='Images/logo.png')}}" alt="Logo" width="15%" height="auto"/>
</div>

  </nav>
  <nav>
    <ul class="nav-ul">
        <li><a href="{{url_for('intro')}}">Click here for More Information &rarr;</a></li>
    </ul>
  </nav>


  
<div class="footer">
  We, the students of BITS Pilani Hyderabad Campus, have created this webpage, as a part of the Assignment-1 of the course
CS F364 - Design and Analysis of Algorithms (DAA).
</div>
</body>

</html>